
.all{
    background-color: #f5f5f5;
   
.item{
    background-color: #f5f5f5;;
    display: block;
    background: #fff;
    margin-bottom: 6px;/*no*/
    text-align: center;
    color: #2c3e50;
    .con{
        padding-top: 17px;/*no*/
        .info{
            margin: 0 17px;/*no*/
            .info_1{
                position: relative;
                text-decoration: none;
                width: 100%;
                display: flex;
                align-items: center;
                .avata{
                    position: relative;
                    display: inline-block;
                    width: 35px;/*no*/
                    height: 35px;/*no*/
                    margin-right: 8px;/*no*/
                    background-size: cover;
                    border-radius: 50%;
                    >img{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                .avata_ri{
                    flex: 1;
                    text-align: left;
                    >h4{
                        margin-bottom: 4px;/*no*/
                        font-size: 14px;/*no*/
                        color: #333;
                        font-weight: 400;
                    }
                    >div{
                        font-size: 12px;/*no*/
                        color: #999;
                        >.span2{
                            position: relative;
                            display: inline-block;
                            top: 1px;
                            margin: 0 7px;
                            width: 1px;
                            height: 10px;
                            background: #999;
                        }
                    }
                }
            }
        }
    }
    .maincontext{
        .title{
            line-height: 24px;
            font-size: 16px;
            margin: 13px 17px 4px;
            text-align: left;
            color: #000;
        }
        .showimg{
            position: relative;
            margin: 0 17px;/*no*/
            >div{
                display: flex;
                flex-flow: row nowrap;
                >span{
                    width: 121.333px;
                    height: 121.333px;
                    display: inline-block;
                    background-size: cover;
                    margin-right: 8px;
                    margin-top: 9px;
                    background-color: #eee;
                    >img{
                        width: 100%;
                        height: 100%;
                    }
                }
                >span:last-child{
                    margin-right: 0;
                }
            }
        }
        .pinglun{
            margin: 0 17px;
            font-size: 12px;
            >div{
                display: flex;
                flex-flow: row wrap;
                height: 44px;
                line-height: 44px;
                >span{
                    display: block;
                    flex: 1;
                    color: #666;
                    text-align: right;
                    i{
                        display: inline-block;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
} 